# Example executables (need to be specified manually or manually cleaned)
*/centrality
*/centrality.exe
*/community
*/community.exe
*/connectivity
*/connectivity.exe
*/diameters
*/diameters.exe
*/egonets
*/egonets.exe
*/statistics
*/statistics.exe
*/wcentrality
*/wcentrality.exe
*/wstatistics
*/wstatistics.exe
*/vespignani
*/vespignani.exe

# Custom bash scripts for running on datasets
*/run.DIAN
*/run.testing
