# Example executables (need to be specified manually or manually cleaned)
*/centrality
*/connectivity
*/drawing
*/egonets
*/generators
*/statistics
*/structures
*/subsets
*/vespignani
*/wcentrality
*/wcommunity
*/wconnectivity
*/wdistance
*/wstatistics

# Custom bash scripts for running on datasets
*/run.DIAN
*/run.testing
