# Example executables (need to be specified manually or manually cleaned)
*/centrality
*/centrality.exe
*/community
*/community.exe
*/connectivity
*/connectivity.exe
*/drawing
*/drawing.exe
*/egonets
*/egonets.exe
*/filtering
*/filtering.exe
*/nullmodels
*/nullmodels.exe
*/statistics
*/statistics.exe
*/structures
*/structures.exe
*/subsets
*/subsets.exe
*/wcentrality
*/wcentrality.exe
*/wdistance
*/wdistance.exe
*/wstatistics
*/wstatistics.exe

# Custom bash scripts for running on datasets
*/run.DIAN
*/run.testing
